"*":
  editor:
    invisibles: {}
    fontFamily: "Ricty Diminished"
    showInvisibles: true
    showIndentGuide: true
    fontSize: 12
  core: {}
  "exception-reporting":
    userId: "ef5261e9-09f5-6036-1df1-de0612d03275"
  welcome:
    showOnStartup: false
  "atom-beautify":
    _analyticsUserId: "cd0f8ea4-c0ee-41ae-a9f5-330afe58fe83"
  linter: {}
  "atom-color-highlight": {}
  minimap:
    plugins:
      "minimap-autohide": true
      bookmarks: true
      "git-diff": true
      pigments: true
      "highlight-selected": true
  "atom-ternjs": {}
  runner:
    scopes:
      coffee: "coffee"
      js: "node"
      ruby: "ruby"
      python: "python"
      go: "go run"
      shell: "bash"
      powershell: "c:\\windows\\sysnative\\windowspowershell\\v1.0\\powershell.exe -noninteractive -noprofile -c -"
    extensions:
      "spec.coffee": "mocha"
      php: "/usr/local/bin/php"
      ps1: "c:\\windows\\sysnative\\windowspowershell\\v1.0\\powershell.exe –file"
